section#post {
  article {
    font-size: 1.3em;

    a {
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid;
      }
    }

    h3, h4 {
      color: #333;
      margin-bottom: 0.7em;
    }

    p {
      line-height: 1.4;
      font-weight: 400;
    }

    h3 + p, h4 + p {
      margin-top: 0px;
    }

    li {
      font-size: .9em;
      margin: 0.3em 0;
      line-height: 1.2;
    }

    header {
      h1 {
        margin: 0 0 .15em;

        a {
          color: #333;
          
          &:hover {
            color: #333;
            border: none;
          }
        }
      }

      p {
        margin: 0;
        color: #b3b3b1;
      }
    }
  }
}