<header>
  <h1>Four oh Four.</h1>
</header>

<section  class="server-error">
  <p>Oops... Looks like I managed to move or delete the page you're looking for. Sorry about that. Please yell at me: <a class="twitter-username" href="http://www.twitter.com/scottbartell">ScottBartell</a></p>
  <p><%= link_to 'Go home', root_url %>.</p>
</section>