aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;

  #bio {
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
    text-align: center;
    width: 30%;

    h1 {
      margin: .4em 0 .2em;

      a {
        color: #333;
        text-decoration: none;
      }
    }

    h2 {
      margin: .2em 0;
      font-weight: 500;
      font-size: 1.3em;
    }

    img {
      border: 3px solid #fff;
      box-shadow: rgba(0,0,0,0.5) 0 0 3px;
      background: #fff no-repeat;
      width: 100px;
      height: 100px;
      margin: 0;
      padding: 0;
      @include transition(all 0.3s ease-in-out);

      &:hover {
      -webkit-transform: rotate(-5deg) scale(1.6);
         -moz-transform: rotate(-5deg) scale(1.6);
          -ms-transform: rotate(-5deg) scale(1.6);
           -o-transform: rotate(-5deg) scale(1.6);
              transform: rotate(-5deg) scale(1.6);
      }

    }
  }
  ul.inline {
    padding: 0;
    margin: 30px 0 0;
    list-style: none;
    font-size: 1.7em;

    li {
      display: inline;
      margin: 0 5px;

      a {
        text-decoration: none;
        color: #444;

        &:hover {
          border-bottom: none;
          color: #222;
        }
      }
      
      i {
        display: inline-block;
      
        &:hover {
          @extend %wobble;
        }
      }
    }
  }

  #about {
    position: fixed;
    top: 30%;
    left: -135px;
    @include transition(all 0.4s ease-in-out);

    &:hover {
        left: -5px;
        @include rotate(-3deg);
      }

    a {
      color: whitesmoke;
      text-decoration: none;
      padding: 10px;
      background-color: #555;
      display: inline;
      box-shadow: 0 0 3px #222;
      @include transition(background-color 0.6s linear);

      &:hover {
        background-color: #333;
      }
    }

    span {
      letter-spacing: 1px;
      font-weight: 700;
      margin: 0 6px;
      font-size: 1.2em;
    }

    i {
      font-size: 1.2em;
      position: relative;
      top: 4px;
    }
  }
}