aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;

  #bio {
    position: fixed;
    bottom: 0;
    margin-bottom: 40px;
    text-align: center;
    width: 30%;

    h1 {
      margin: .4em 0 .2em;

      a {
        color: #333;
        text-decoration: none;
      }
    }

    h2 {
      margin: .2em 0;
      font-weight: 500;
      font-size: 1.3em;
    }

    img {
      border: 3px solid #fff;
      box-shadow: rgba(0,0,0,0.5) 0 0 3px;
      background: #fff no-repeat;
      width: 100px;
      height: 100px;
      margin: 0;
      padding: 0;
      @include transition(all 0.3s ease-in-out);

      &:hover {
      -webkit-transform: rotate(-5deg) scale(1.6);
         -moz-transform: rotate(-5deg) scale(1.6);
          -ms-transform: rotate(-5deg) scale(1.6);
           -o-transform: rotate(-5deg) scale(1.6);
              transform: rotate(-5deg) scale(1.6);
      }

    }
  }
  ul.inline {
    padding: 0;
    margin: 30px 0 0;
    list-style: none;
    font-size: 1.7em;

    li {
      display: inline;
      margin: 0 5px;

      a {
        text-decoration: none;
        color: #444;

        &:hover {
          border-bottom: none;
          color: #222;
        }
      }
      
      i {
        display: inline-block;
      
        &:hover {
          @extend %wobble;
        }
      }
    }
  }

  #about {
    width: 153px;
    height: 50px;
    padding: 10px;
    margin: -20px auto 0;
    background-color: seagreen;
    box-shadow: 1px 1px 5px #ccc;
    @include transition(all 0.4s ease-in-out);

    &:hover {
  -webkit-transform: rotate(-5deg);
     -moz-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
       -o-transform: rotate(-5deg);
          transform: rotate(-5deg);
      }

    a {
      height: 100%;
      margin-top: 20px;
      text-align: center;
      display: block;
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}