@media screen and (max-width: 1000px) {
  #content {
    margin-left: 10%;
    margin-top: 0px;
    width: 80%;
  }
  body aside {
    position: static;
    margin: 10px 10% 0;
    width: 80%;

    #bio {
      position: static;
      width: initial;
    }
  }
}

@media screen and (max-width: 750px) {
  #content {
    margin-left: 5%;
    margin-top: 0px;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  html body {
    font-size: 16px;
  }

  #posts {
    header nav ul {
      text-align: center;
    }

    #categories li a {
      font-size: 2em;
    }
  }
}

@media screen and (max-width: 400px) {
  #content {
    margin: 0;
    width: 100%;

    header {
      padding: 0 3px;
    }

    div.wrapper {
      padding: 0 5px;
    }

    .highlight {
      margin-left: 5px;
      margin-right: 5px;
    }

    p {
      padding: 0 5px;
    }

    footer nav ul .previous {
      margin-bottom: 10px;
      font-size: 0.9em;
    }
  }
}
