// CSS Reset
@import "components/normalize";

// Globals
@import "globals/variables";
@import "globals/mixins";
@import "foundation-icons";

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-serif;
  color: #555;
  font-size: 18px;
}

h1 {
  color: #333;
  font-size: 2em;
}

#content {
  margin-left: 33%;
  margin-top: 40px;
  width: 55%;
}

a.twitter-username{
  color: #4099FF;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid;
  }

  &:before {
    content: "@";
  }
}

header.main_head {
  nav ul {
    letter-spacing: 1px;
    font-family: $font-sans;
    font-size: .7em;
    font-weight: 700;
    list-style-type: none;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    color: #b3b3b1;

    li {
      display: inline-block;
      margin-right: 15px;
      line-height: 2.5;
      border-bottom: 2px transparent;

      &.active, &.active a {
          color: #555;
        }

      &.active {
        border-bottom: 2px solid orange;
      }

      a {
        color: #b3b3b1;
        text-decoration: none;
      }

      a:hover {
        color: #555;
      }
    }
  }
}

// Sections
@import "sections/*";

// Components
@import "components/syntax";
@import "components/aside";
@import "components/media";