@media screen and (max-width: 1000px) {
  section #articles, section #content {
    margin-left: 10%;
    margin-top: 0px;
    width: 80%;
  }
  body aside {
    position: static;
    margin: 0 10%;
    width: 80%;
    #bio {
      position: static;
      width: initial;
    }
  }
}

@media screen and (max-width: 600px) {

  html body {
    font-size: 16px;
  }
  section #articles, section #content {
    margin-left: 0px;
    width: 100%;
  }
  #articles {

    header nav ul {
      text-align: center;
    }

    #categories li a {
      font-size: 2em;
    }
  }
}