<aside>
  <div id="bio">
    <a href="/">
      <img src="https://lh6.googleusercontent.com/-EoCZX5Y4bzk/UE0ZbUU_mLI/AAAAAAAADn8/4tlU1--WDhI/w526-h525-p-k/IMG_0307.JPG" alt="Scott Bartell">
    </a>
    <h1><%= link_to 'Scott Bartell', root_path %></h1>
    <h2>Web Developer</h2>
    <ul class="inline contact-icons">
      <li><a href="mailto:me@scottbartell.com"><i class="general foundicon-mail"></a></i></li>
      <li><a href="https://github.com/scottbartell"><i class="social foundicon-github"></a></i></li>
      <li><a href="https://twitter.com/scottbartell"><i class="social foundicon-twitter"></a></i></li>
      <li><a href="http://www.linkedin.com/in/scottsbartell"><i class="social foundicon-linkedin"></a></i></li>
    </ul>
  </div>
</aside>