<%- content_for :pre_content do -%>
<aside>
  <div id="bio">
    <a href="/">
      <img src="https://lh6.googleusercontent.com/-EoCZX5Y4bzk/UE0ZbUU_mLI/AAAAAAAADn8/4tlU1--WDhI/w526-h525-p-k/IMG_0307.JPG" alt="Scott Bartell">
    </a>
    <h1><%= link_to 'Scott Bartell', root_path %></h1>
    <h2>Web Developer</h2>
  </div>
</aside>
<section>
<%- end -%>
<%- content_for :post_content do -%>
</section>
<%- end -%>
<%= render file: 'layouts/abstract' %>